@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Raleway:wght@300;600&display=swap');

$base-color: #6B9B8A;
$dark: #1f1f1f;

html {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;

  .App {
    h1 {
      font-weight: 600;
    }

    h2 {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      letter-spacing: 0.1em;
    }

    p {
      font-family: 'Open Sans', sans-serif;
    }

    img {
      max-width: 100%;
    }

    .Header {
      height: 100vh;
      background-color: $base-color;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      nav {
        position: absolute;
        top: 0;
        right: 0;

        @media  screen and (max-width: 767px) {
          left: 0;
        }
    
        .navbar-nav {
          margin-left: auto;

          .nav-link {
            font-size: 1.2em;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            margin-right: 16px;
          }
        }
      }

      .word {
        display: block;
        font-weight: 300;

        span {
          position: relative;

          &::after {
            content: "";
            width: 8px;
            height: 100%;
            display: block;
            position: absolute;
            right: -10px;
            top: 0;
            animation: blink 0.5s ease infinite alternate-reverse;
          }
        }

        @keyframes blink {
          from {
            opacity: 100%;
          }

          to {
            opacity: 0%;
          }
        }
      }

      .word.empty {
        visibility: hidden;

        &::after {
          visibility: visible;
          right: 0;
        }
      }
    }

    .Projects {
      background-color: $base-color;
    }

    .Skills {
      .skill-icons {
        .skill-container {
          padding: 12px;
          background-color: rgba(224,224,224,0.05);
          border-radius: 10px;
          width: 150px;

          @media screen and (max-width: 767px) {
            width: 100px;
          }
        }

        .skill-icon {
          font-size: 3.6em;
          margin-bottom: 10px;
        }
      }
    }
  }
}