@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

$base-color: #0a2647;
$secondary-color: #cd661b;

html {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;

  .App {
    .Header {
      height: 100vh;
      background-color: $base-color;
      display: flex;
      align-items: center;

      .word {
        display: block;

        span {
          color: $secondary-color;
          position: relative;

          &::after {
            content: "";
            width: 8px;
            height: 100%;
            background: $secondary-color;
            display: block;
            position: absolute;
            right: -10px;
            top: 0;
            animation: blink 0.5s ease infinite alternate-reverse;
          }
        }

        @keyframes blink {
          from {
            opacity: 100%;
          }

          to {
            opacity: 0%;
          }
        }
      }

      .word.empty {
        visibility: hidden;

        &::after {
          visibility: visible;
          right: 0;
        }
      }
    }
  }
}